<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <title>#{title}</title>
  </head>
    <body>
      
      <nav>
        <ul class="container">
          <li>Add Coin</li>
          <li>Delete</li>
        </ul>
      </nav>
      <div class="container">
        
      </div>
      
    
    </body>
</html>
