<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <title>#{title}</title>
  </head>
    <body>
      
      <div class="container">
        <h2 class="title">#{title}</h2>
        <div class="content-container">
          <h3>Personalized Crypto Currency Dashboard</h3>
          <div class="grid">
            <div class="card">
              <h4 class="coin-title">Bitcoin</h4>
              <h4 class="coin-symbol">BTC</h4>
              <div class="coin-price"><p>Current Price: <span class="coin-price-number">$6,000</span></p></div>
              <div class="coin-24-change">24 hour change: <span class="coin-24-number">-1%</span></div>
            </div>
            <div class="card">
              <h4 class="coin-title">Ethereum</h4>
              <h4 class="coin-symbol">ETH</h4>
              <div class="coin-price"><p>Current Price: <span class="coin-price-number">$6,000</span></p></div>
              <div class="coin-24-change">24 hour change: <span class="coin-24-number">-1%</span></div>
            </div>
            <div class="card">
              <h4 class="coin-title">Litecoin</h4>
              <h4 class="coin-symbol">LTC</h4>
              <div class="coin-price"><p>Current Price: <span class="coin-price-number">$6,000</span></p></div>
              <div class="coin-24-change"><p>24 hour change: <span class="coin-24-number">-1%</span></p></div>
            </div>
          </div>
          <div class="btn-container">
            <form method="get" action="/signup"><button id="signUp">Sign Up</button></form>
            <form method="get" action="/login"><button id="signIn">Log In</button></form>
          </div>  
        </div>
      </div>
    
    </body>
</html>
