body {
  font-family: 'KoHo', sans-serif;
  margin: 0;
  padding: 0;
}

/* Containers */
.container {
  background: #1F618D;
  height: 100vh;
}

.content-container {
  background: #1B2631;
  margin-top: 6rem !important;
  height: 600px;
  width: 95%;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.card {
  background: #ECEFF1;
  width: 300px;
  height: 150px;
  border-radius: 4px;
  margin: auto;
  position: relative;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

/* Headers */
h2 {
  margin: 0;
  text-align: center;
  color: #E0E0E0;
  font-size: 4rem;
}

h3 {
  text-align: center;
  color: #E0E0E0;
  padding: 5px 0;
}

h4 {
  margin: 0;
}

/* Buttons */
#signUp {
  margin: 0 20px;
  padding: 8px 30px;
  border: 2px solid #ECEFF1;
  background: transparent;
  color: #ECEFF1;
  cursor: pointer;
}

#signIn {
  margin: 0 20px;
  padding: 8px 32px;
  border: 2px solid #ECEFF1;
  background: transparent;
  color: #ECEFF1;
  cursor: pointer;
}


.coin-title {
  position: absolute;
  left: 5px;
  top: 3px;
  font-weight: 400;
}

.coin-symbol {
  position: absolute;
  right: 5px;
  top: 3px;
  font-weight: 400;
}

.coin-price {
  position: absolute;
  top: 30%;
  left: 25%;
}

.coin-24-change {
  position: absolute;
  top: 60%;
  left: 25%;
}

.coin-price-number {
  padding-left: 10px;
  color: #000;
}

.coin-24-number {
  padding-left: 10px;
  color: #F44336;
  font-weight: 600;
}


/* Media Queries */
@media(min-width: 1200px) {
  #signUp:hover, #signIn:hover {
    background-color: #43A047;
    color: #000;
  }
}
